<p>main-page works!</p>
<p-card header="КРУПНО. ОЧЕНЬ. СТИМУЛ.">
  <p-button label="Запись на бесплатное посещение"></p-button>
</p-card>
<p-card header="КАРТА ПОМЕЩЕНИЯ">
  <p>
    Бегущие сменки будут позже
  </p>
  <p-button label="Узнать больше"></p-button>
</p-card>
<p-card header="АБОНЕМЕНТ ОТ 3000 РУБЛЕЙ В МЕСЯЦ">
  <p>
    Студенческий. Дневной. Зональный.
  </p>
  <p-button label="Узнать больше"></p-button>
</p-card>
<p-card header="КОНТАКТЫ">
  <p>
    Почему здесь, а не на отдельной странице?
  </p>
  <p-button label="Узнать больше"></p-button>
</p-card>
