<p-card header="Силовые тренировки">
  <div class="flex">
    <div class="flex-item">
      <p>С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент
        проверки позиций, занимаемых участниками в отношении поставленных задач.
      </p>
      <p>С другой стороны укрепление и развитие структуры позволяет оценить значение форм развития. Не следует, однако
        забывать, что рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового
        участия.
      </p>
    </div>
    <div class="flex-item">
      <img [src]=randomImg>
    </div>
  </div>
  <p-button label="Узнать больше"></p-button>
</p-card>
<p-card header="Кардио тренировки">
  <div class="flex">
    <div class="flex-item">
      <p>С другой стороны начало повседневной работы по формированию позиции представляет собой интересный экспер </p>
      <p>С другой стороны укрепление и развитие структуры позволяет оценить значение форм развития.</p>
      <p>Не следует, однако забывать, что рамки и место обучения кадров влечет за собой процесс внедрения и модернизации
        систем массового участия. </p>
    </div>
    <div class="flex-item">
      <img [src]=randomImg>
    </div>
  </div>
  <p-button label="Узнать больше"></p-button>
</p-card>
<p-card header="Стретчинг ">
  <div class="flex">
    <div class="flex-item">
      <p>С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент
        проверки позиций, занимаемых участниками в отношении поставленных задач.</p>

      <p>С другой стороны укрепление и развитие структуры позволяет оценить значение форм развития. Не следует, однако
      забывать, что рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового
      участия</p>
      <p>.Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании
      форм развития. Не следует, однако забывать, что рамки и место обучения кадров представляет собой интересный
      эксперимент проверки</p>
      <p>существенных финансовых и административных условий. Разнообразный и богатый опыт сложившаяся структура организации
      способствует подготовки и реализации направлений прогрессивного развития.</p>
    </div>
    <div class="flex-item">
      <img [src]=randomImg>
    </div>
  </div>
  <p-button label="Узнать больше"></p-button>
</p-card>
